@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Pacifico&family=Playwrite+US+Modern:wght@100..400&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Pacifico&family=Playwrite+US+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
body{
    background-image: url(bgg.jpg);
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: Raleway;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    display: flex;
    min-height: 72vh;
    background-color: black;
    color: black;
    font-family: Varela Round;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bggg.jpg");
    background-size: cover;
}
#para{
    font-size: xxx-large;
    font-weight: bolder;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    padding: 0 10px;
    cursor: pointer;
}
#myProgressBar{
width: 80vw;
cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    margin: 12px 0;
    border-radius: 4px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: Varela Round;
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
@media only screen and (max-width: 1100px) {
    body {
        background-image: url("bgg.jpg");
        background-size: cover;
    }
  }
  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    cursor: pointer;
  }